body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    cursor: pointer;
}
  
  .login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #171616;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  h2{
    color: white;
  }
  
  .login-form {
    text-align: center;
    
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"],
   button{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

   }
  
  
  button {
   
    background-color: #040404;
    color: #fff;
    border: none;
    border-radius:10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

    .navbar {
        background-color: rgb(22, 13, 13);
        padding: 5px 0;
    }
    
    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        color: #fff;
        font-size: 24px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .nav-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        font-family :Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .nav-menu li {
        display: inline-block;
        margin-right: 20px;
    }
    
    .nav-menu li:last-child {
        margin-right: 0;
    }
    
    .nav-menu li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s ease;
    }
    
    .nav-menu li a:hover {
        color: #4a3636;
    }
    
    .dropdown {
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: black;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: #333;
        padding: 12px 16px;
        display: block;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .footer {
        background-color: black;
        padding: 10px 0;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
      }
      
      .footer h4 {
        color: white;
        font-size: 20px;
        margin-bottom: 20px;
      }
      
      .footer p {
        color: white;
        font-size: 16px;
        margin-bottom: 10px;
        
      }
      
      .footer ul.social-icons {
        list-style: none;
        padding: 0;
      }
      
      .footer ul.social-icons li {
        display: inline-block;
        margin-right: 10px;
      }
      
      .footer ul.social-icons li:last-child {
        margin-right: 0;
      }
      
      .footer ul.social-icons li a {
        display: block;
        width: 40px;
        height: 40px;
        background-color: #333;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        color: #fff;
        transition: background-color 0.3s ease;
      }
      
      .footer ul.social-icons li a:hover {
        background-color: #555; 
      }
       
      p{
        text-align: center;
      }
  